xf86-video-intel-be37488.tar.xz
xf86-video-intel-627ef68.tar.xz
xf86-video-intel-694e9bc.tar.xz
xf86-video-intel-fb0c0ad.tar.xz
xf86-video-intel-97786e9.tar.xz
xf86-video-intel-e769f9e.tar.xz
xf86-video-intel-7490b9e.tar.xz
xf86-video-intel-0340718.tar.xz
xf86-video-intel-666f25b.tar.xz
xf86-video-intel-f6e9316.tar.xz
xf86-video-intel-0995ad2.tar.xz
xf86-video-intel-da9ad38.tar.xz
xf86-video-intel-6c4ffba.tar.xz
xf86-video-intel-8229390.tar.xz
xf86-video-intel-371219c.tar.xz
xf86-video-intel.tar.gz
